{
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 120,

	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",

	"bracketSpacing": true,
	"arrowParens": "avoid",

	"jsxSingleQuote": true,
	"jsxBracketSameLine": false,

	"singleAttributePerLine": true
}
